* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  scroll-behavior: smooth;
  height: 100%;
  min-width: 320px
}
body {
  color: #121212;
  line-height: 1;
  font-family: "Roboto Mono",monospace;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Roboto Mono",monospace;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  font-weight: 400
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__link {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: .6875rem 1.5rem;
  border-radius: 3.875rem;
  background-color: #232323;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  text-align: center;
  font-weight: 700;
  line-height: 110%;
  transition: opacity .3s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
  text-align: center;
  color: #121212
}
.btn {
  border-radius: 3.875rem;
  padding: .9375rem 2rem;
  background-color: #fccf2b;
  font-weight: 700;
  text-align: center;
  color: #232323;
  transition: opacity .3s
}
.location--yellow .btn {
  background-color: #232323;
  color: #fff
}
.btn-empty {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 2.375rem;
  padding: .625rem 1.3125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  text-align: center;
  color: #232323;
  border: 2px solid #fccf2b;
  transition: opacity .3s
}
.location--yellow .btn-empty {
  border: 2px solid #232323
}
.location--yellow .btn-empty path {
  fill: #232323
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: .75rem
}
.swiper-pagination .swiper-pagination-bullet {
  flex-shrink: 0;
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  background-color: #fff1be;
  transition: background .3s
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fccf2b
}
.swiper-pagination.black-bullet .swiper-pagination-bullet {
  background-color: rgba(0,0,0,.28)
}
.swiper-pagination.black-bullet .swiper-pagination-bullet-active {
  background-color: #000
}
.swiper-button-next,
.swiper-button-prev {
  flex-shrink: 0;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  border: 2px solid #232323;
  transition: border .3s
}
.swiper-button-next path,
.swiper-button-prev path {
  transition: fill .3s
}
.header {
  background-color: #fccf2b;
  padding: 1.25rem 0
}
.header__body {
  display: grid;
  grid-template-columns: 1fr 5.5625rem 1fr;
  align-items: center;
  gap: 2rem
}
.header__menu {
  justify-self: start
}
.header__logo {
  justify-self: center;
  display: grid;
  place-content: center;
  position: relative;
  z-index: 15
}
.header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover
}
.header__actions {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1.75rem;
  position: relative;
  z-index: 15
}
.header__lang {
  padding-left: 1.75rem;
  border-left: 2px solid #232323;
  display: flex;
  align-items: center;
  gap: 1.125rem
}
.header__lang-link {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 110%;
  color: #232323;
  opacity: .6;
  transition: opacity .3s
}
.header__lang-link.active {
  opacity: 1;
  pointer-events: none
}
.phone-links {
  position: relative;
  z-index: 5
}
.phone-links__current {
  display: flex;
  align-items: center;
  gap: .625rem;
  cursor: pointer;
  padding-left: .625rem
}
.phone-links__arrow {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.is-open .phone-links__arrow {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.phone-links__link {
  display: flex;
  align-items: center;
  gap: .625rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 110%;
  color: #232323;
  transition: opacity .3s
}
.phone-links__body {
  position: absolute;
  left: 0;
  top: 100%;
  padding: .625rem;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  background-color: #fccf2b;
  transition: all .3s
}
.is-open .phone-links__body {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
  transform: rotateX(0)
}
.footer {
  background-color: #fccf2b
}
.footer__body {
  display: grid;
  grid-template-columns: auto repeat(2,1fr);
  gap: .9375rem;
  padding: 1.9375rem 0 2.3125rem
}
.footer__logo {
  max-width: 7.0625rem
}
.footer__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__col {
  padding-top: .9375rem
}
.footer__col:nth-child(3) {
  justify-self: end
}
.footer__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  margin-bottom: .875rem
}
.footer__list {
  display: grid;
  align-items: start;
  gap: .5625rem
}
.footer__link {
  display: flex;
  align-items: center;
  gap: .6875rem;
  line-height: 130%;
  transition: opacity .3s
}
.footer__link svg {
  align-self: flex-start
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem;
  padding: 1.5625rem 0 1.875rem;
  border-top: 1px solid #232323
}
.footer__copy {
  line-height: 137%
}
.footer__instagram {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  gap: .625rem;
  padding: .625rem .6875rem;
  border: 1px solid rgba(18,18,18,.24);
  border-radius: 2.1875rem;
  transition: opacity .3s
}
.promo {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: .9375rem;
  min-height: calc(100vh - 9.4375rem);
  background-color: #fccf2b
}
.promo__body {
  align-self: center;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4,minmax(210px,289px));
  gap: .9375rem
}
.promo__item {
  position: relative;
  overflow: hidden
}
.promo__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.promo__title {
  width: 100%;
  padding: .9375rem;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  color: #fff
}
.promo__bottom {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem
}
.promo__link {
  display: flex;
  align-items: center;
  gap: .625rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 110%;
  color: #232323;
  transition: opacity .3s
}
.location--yellow {
  background-color: #fccf2b;
  position: relative
}
.no-webp .location--yellow::before {
  background: url(../img/decore.png) center/cover no-repeat
}
.location--yellow::before {
  content: "";
  position: absolute
}
.location__body {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  min-width: 0
}
.location--yellow .location__body {
  grid-template-columns: 1fr 1.08fr
}
.location--yellow .location__slider {
  order: 1
}
.location__wrapper {
  height: auto!important
}
.location__wrapper:not(:last-child) {
  margin-bottom: 1.25rem
}
.about .location__wrapper:not(:last-child),
.location--yellow .location__wrapper:not(:last-child) {
  margin-bottom: 1.0625rem
}
.location__slide {
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.09)
}
.location__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.location__content {
  display: grid;
  gap: 1.75rem;
  padding-bottom: 1.875rem
}
.location--yellow .location__content {
  order: 0;
  padding-bottom: 1.5625rem
}
.location__text {
  display: grid;
  align-items: start;
  gap: 1.25rem;
  line-height: 162%
}
.location__text:not(:last-child) {
  margin-bottom: 2.1875rem
}
.location--yellow .location__text {
  gap: 1.5625rem
}
.location__contacts {
  align-self: end
}
.contacts-block {
  max-width: 32.0625rem;
  border: 2px solid #121212;
  border-radius: 2.1875rem;
  padding: 1.5rem 1.875rem 1.875rem;
  transition: box-shadow .3s
}
.location--yellow .contacts-block {
  max-width: 34.875rem
}
.contacts-block__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  margin-bottom: .9375rem
}
.contacts-block__list {
  display: grid;
  align-items: start;
  gap: .5625rem;
  margin-bottom: .9375rem
}
.contacts-block__link {
  display: flex;
  align-items: center;
  gap: .6875rem;
  line-height: 130%;
  color: #232323;
  transition: opacity .3s
}
.contacts-block__link svg {
  flex-shrink: 0;
  align-self: flex-start
}
.location--yellow .contacts-block__link path {
  fill: #232323
}
.contacts-block__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem
}
.clothing__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  padding-top: 2rem;
  border-top: 1px solid #d9d9d9
}
.card-clothing {
  display: flex;
  flex-direction: column
}
.card-clothing__img {
  margin-bottom: .9375rem;
  overflow: hidden
}
.card-clothing__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.card-clothing__title {
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: .4375rem;
  transition: color .3s;
  position: relative
}
.card-clothing__text {
  flex: 1 1 auto;
  line-height: 162%;
  color: #232323;
  margin-bottom: 1.125rem
}
.card-clothing__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .9375rem
}
.card-clothing__price {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%
}
.card-clothing__btn {
  padding: .8125rem 1.5rem
}
.about {
  background-color: #fccf2b
}
.about__title {
  margin-bottom: 1.875rem
}
.about__body {
  display: grid;
  grid-template-columns: 1fr 1.08fr
}
.about__content {
  display: grid;
  align-items: start;
  gap: 1.125rem;
  line-height: 162%
}
.our-instagram__slider {
  overflow: visible!important
}
.our-instagram__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.our-instagram__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem
}
.our-instagram__navigation {
  display: flex;
  align-items: center;
  gap: .75rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap
}
.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column
}
@media (min-width:29.99875em) {
  .promo__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-56%);
    transform: translate(-50%,-56%)
  }
}
@media (min-width:47.99875em) {
  .card-clothing__title {
    padding: 0 1.25rem
  }
  .card-clothing__text {
    padding: 0 1.25rem
  }
  .card-clothing__bottom {
    padding: 0 1.25rem
  }
}
@media (min-width:61.99875em) {
  .about__content {
    padding-bottom: 1.5625rem
  }
}
@media (min-width:76.875em) {
  .title {
    font-size: 2.875rem
  }
  .header {
    padding-left: 2.5rem
  }
  .header {
    padding-right: 2.5rem
  }
  .header__logo {
    max-width: 5.5625rem
  }
  .footer__logo {
    margin-right: 12.1875rem
  }
  .promo {
    padding-top: 2.5rem
  }
  .promo {
    padding-left: 2.5rem
  }
  .promo {
    padding-right: 2.5rem
  }
  .promo {
    padding-bottom: 2.5rem
  }
  .promo__body {
    padding-bottom: 5.625rem
  }
  .location {
    padding-top: 8.125rem
  }
  .location {
    padding-bottom: 6.875rem
  }
  .location--yellow::before {
    top: -7.4375rem
  }
  .location--yellow::before {
    right: 7.3125rem
  }
  .location--yellow::before {
    width: 12.4375rem
  }
  .location--yellow::before {
    height: 16.9375rem
  }
  .location__title {
    margin-bottom: 2.75rem
  }
  .location__body {
    gap: 3.375rem
  }
  .location--yellow .location__body {
    gap: 2.5rem
  }
  .clothing {
    padding-top: 10rem
  }
  .clothing {
    padding-bottom: 8.75rem
  }
  .clothing__title:not(:last-child) {
    margin-bottom: 1.9375rem
  }
  .clothing__wrapper:not(:last-child) {
    margin-bottom: 3.6875rem
  }
  .about {
    padding-top: 8.125rem
  }
  .about {
    padding-bottom: 6.875rem
  }
  .about__body {
    gap: 2.75rem
  }
  .our-instagram {
    padding-top: 8.125rem
  }
  .our-instagram {
    padding-bottom: 8.75rem
  }
  .our-instagram__title {
    margin-bottom: 2.0625rem
  }
  .our-instagram__wrapper {
    margin-bottom: 2.5rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 2rem
  }
  .header__logo {
    max-width: 3.375rem
  }
  .location {
    padding-top: 3.125rem
  }
  .location {
    padding-bottom: 4.9375rem
  }
  .location--yellow::before {
    top: -4.0625rem
  }
  .location--yellow::before {
    right: .75rem
  }
  .location--yellow::before {
    width: 5.4375rem
  }
  .location--yellow::before {
    height: 7.4375rem
  }
  .location__title {
    margin-bottom: 1.25rem
  }
  .location__body {
    gap: 1.8125rem
  }
  .location--yellow .location__body {
    gap: 1.8125rem
  }
  .clothing {
    padding-top: 4.9375rem
  }
  .clothing {
    padding-bottom: 4.9375rem
  }
  .clothing__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .about {
    padding-top: 3.125rem
  }
  .about {
    padding-bottom: 4.9375rem
  }
  .about__body {
    gap: 1.8125rem
  }
  .our-instagram {
    padding-top: 4.625rem
  }
  .our-instagram {
    padding-bottom: 4.625rem
  }
  .our-instagram__title {
    margin-bottom: 1.8125rem
  }
  .our-instagram__wrapper {
    margin-bottom: 1.8125rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 8.25rem 0 2.5rem 0;
    transition: left .3s;
    z-index: 10
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 8.25rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    background-color: #fccf2b;
    z-index: 12
  }
  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    opacity: 0;
    transition: opacity .3s;
    background-color: rgba(0,0,0,.5)
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu-open .menu__body::after {
    opacity: 1;
    left: 0
  }
  .menu__list {
    position: relative;
    z-index: 11;
    padding: 1.25rem .9375rem 2.5rem;
    background-color: #fccf2b;
    display: grid;
    align-items: start;
    gap: .8125rem
  }
  .icon-menu {
    display: flex;
    align-items: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    gap: .4375rem;
    height: 2.1875rem;
    position: relative;
    z-index: 15;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 110%;
    text-transform: uppercase;
    color: #232323
  }
  .icon-menu span:last-child {
    display: none
  }
  .menu-open .icon-menu span {
    display: none
  }
  .menu-open .icon-menu span:last-child {
    display: block
  }
  .icon-menu::before {
    content: "";
    flex-shrink: 0;
    width: 1.625rem;
    height: 1.625rem;
    background: url(../img/icons/burger.svg) center/26px no-repeat;
    transition: background .3s
  }
  .menu-open .icon-menu::before {
    background: url(../img/icons/close.svg) center/20px no-repeat
  }
  .header {
    padding-top: .75rem;
    padding-bottom: .75rem
  }
  .header__body {
    grid-template-columns: auto 1fr auto
  }
  .header__menu {
    order: 2;
    justify-self: end
  }
  .header__logo {
    order: 0;
    justify-self: start
  }
  .header__actions {
    order: 1;
    justify-self: start
  }
  .promo__body {
    grid-template-columns: repeat(2,minmax(210px,289px))
  }
  .location--yellow .location__body {
    grid-template-columns: 1fr
  }
  .location__body {
    grid-template-columns: 1fr
  }
  .location__slider {
    order: 1
  }
  .location__content {
    order: 0;
    padding-bottom: 0
  }
  .about__body {
    grid-template-columns: 1fr
  }
}
@media (max-width:61.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.991875em) {
  .header {
    padding-left: .9375rem
  }
  .header {
    padding-right: .9375rem
  }
  .promo {
    padding-top: 1.25rem
  }
  .promo {
    padding-left: .9375rem
  }
  .promo {
    padding-right: .9375rem
  }
  .promo {
    padding-bottom: 1.25rem
  }
  .promo__body {
    padding-bottom: .0000000625rem
  }
}
@media (max-width:47.99875em) {
  .footer__logo {
    margin-right: .9375rem
  }
}
@media (max-width:43.74875em) {
  .menu__body {
    padding: 6.625rem 0 2.5rem 0
  }
  .menu__body::before {
    height: 6.625rem
  }
  .menu__link {
    margin-top: 1.4375rem
  }
  .header__lang {
    padding-left: 0;
    border: none;
    opacity: 0;
    transition: opacity .3s
  }
  .menu-open .header__lang {
    opacity: 1
  }
  .phone-links__current {
    padding-left: 0
  }
  .phone-links__body {
    padding-left: 0
  }
  .promo {
    gap: 0;
    min-height: 100%
  }
  .promo__bottom {
    display: none
  }
}
@media (max-width:39.99875em) {
  .footer__body {
    grid-template-columns: 1fr;
    gap: 1.875rem
  }
  .footer__logo {
    justify-self: center
  }
  .footer__col {
    padding-top: 0
  }
  .footer__col:nth-child(3) {
    justify-self: start
  }
  .location__slider {
    padding: .9375rem;
    margin: 0 -.9375rem
  }
  .clothing__slider {
    padding: 0 .9375rem;
    margin: 0 -.9375rem
  }
  .clothing__navigation {
    display: none
  }
  .our-instagram__bottom {
    justify-content: space-between
  }
}
@media (max-width:29.99875em) {
  .menu__link {
    max-width: 100%
  }
  .footer__bottom {
    flex-wrap: wrap;
    gap: 1.25rem
  }
  .promo__body {
    grid-template-columns: 1fr;
    gap: .625rem
  }
  .promo__item {
    position: relative;
    min-height: 8.8125rem;
    display: flex;
    align-items: center
  }
  .promo__item img {
    position: absolute;
    left: 0;
    top: 0
  }
  .promo__title {
    position: relative;
    z-index: 2
  }
  .location__wrapper:not(:last-child) {
    margin-bottom: 1rem
  }
  .clothing__wrapper:not(:last-child) {
    margin-bottom: .0000000625rem
  }
}
@media (min-width:20em) and (max-width:76.875em) {
  @supports (font-size:clamp(2rem ,1.6923076923rem + 1.5384615385vw ,2.875rem)) {
    .title {
      font-size: clamp(2rem ,1.6923076923rem + 1.5384615385vw ,2.875rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.6923076923rem + 1.5384615385vw ,2.875rem)) {
    .title {
      font-size: calc(2rem + .875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (max-width:clamp(3.375rem ,2.6057692308rem + 3.8461538462vw ,5.5625rem)) {
    .header__logo {
      max-width: clamp(3.375rem ,2.6057692308rem + 3.8461538462vw ,5.5625rem)
    }
  }
  @supports not (max-width:clamp(3.375rem ,2.6057692308rem + 3.8461538462vw ,5.5625rem)) {
    .header__logo {
      max-width: calc(3.375rem + 2.1875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.3667582418rem + 8.7912087912vw ,8.125rem)) {
    .location {
      padding-top: clamp(3.125rem ,1.3667582418rem + 8.7912087912vw ,8.125rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.3667582418rem + 8.7912087912vw ,8.125rem)) {
    .location {
      padding-top: calc(3.125rem + 5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(4.9375rem ,4.2561813187rem + 3.4065934066vw ,6.875rem)) {
    .location {
      padding-bottom: clamp(4.9375rem ,4.2561813187rem + 3.4065934066vw ,6.875rem)
    }
  }
  @supports not (padding-bottom:clamp(4.9375rem ,4.2561813187rem + 3.4065934066vw ,6.875rem)) {
    .location {
      padding-bottom: calc(4.9375rem + 1.9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (top:clamp(-7.4375rem ,-2.8756868132rem + -5.9340659341vw ,-4.0625rem)) {
    .location--yellow::before {
      top: clamp(-7.4375rem ,-2.8756868132rem + -5.9340659341vw ,-4.0625rem)
    }
  }
  @supports not (top:clamp(-7.4375rem ,-2.8756868132rem + -5.9340659341vw ,-4.0625rem)) {
    .location--yellow::before {
      top: calc(-4.0625rem + -3.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (right:clamp(0.75rem ,-1.5576923077rem + 11.5384615385vw ,7.3125rem)) {
    .location--yellow::before {
      right: clamp(.75rem ,-1.5576923077rem + 11.5384615385vw ,7.3125rem)
    }
  }
  @supports not (right:clamp(0.75rem ,-1.5576923077rem + 11.5384615385vw ,7.3125rem)) {
    .location--yellow::before {
      right: calc(.75rem + 6.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (width:clamp(5.4375rem ,2.9759615385rem + 12.3076923077vw ,12.4375rem)) {
    .location--yellow::before {
      width: clamp(5.4375rem ,2.9759615385rem + 12.3076923077vw ,12.4375rem)
    }
  }
  @supports not (width:clamp(5.4375rem ,2.9759615385rem + 12.3076923077vw ,12.4375rem)) {
    .location--yellow::before {
      width: calc(5.4375rem + 7 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (height:clamp(7.4375rem ,4.0968406593rem + 16.7032967033vw ,16.9375rem)) {
    .location--yellow::before {
      height: clamp(7.4375rem ,4.0968406593rem + 16.7032967033vw ,16.9375rem)
    }
  }
  @supports not (height:clamp(7.4375rem ,4.0968406593rem + 16.7032967033vw ,16.9375rem)) {
    .location--yellow::before {
      height: calc(7.4375rem + 9.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.7225274725rem + 2.6373626374vw ,2.75rem)) {
    .location__title {
      margin-bottom: clamp(1.25rem ,.7225274725rem + 2.6373626374vw ,2.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.7225274725rem + 2.6373626374vw ,2.75rem)) {
    .location__title {
      margin-bottom: calc(1.25rem + 1.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(1.8125rem ,1.2630494505rem + 2.7472527473vw ,3.375rem)) {
    .location__body {
      gap: clamp(1.8125rem ,1.2630494505rem + 2.7472527473vw ,3.375rem)
    }
  }
  @supports not (gap:clamp(1.8125rem ,1.2630494505rem + 2.7472527473vw ,3.375rem)) {
    .location__body {
      gap: calc(1.8125rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(1.8125rem ,1.5707417582rem + 1.2087912088vw ,2.5rem)) {
    .location--yellow .location__body {
      gap: clamp(1.8125rem ,1.5707417582rem + 1.2087912088vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.8125rem ,1.5707417582rem + 1.2087912088vw ,2.5rem)) {
    .location--yellow .location__body {
      gap: calc(1.8125rem + .6875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(4.9375rem ,3.1572802198rem + 8.9010989011vw ,10rem)) {
    .clothing {
      padding-top: clamp(4.9375rem ,3.1572802198rem + 8.9010989011vw ,10rem)
    }
  }
  @supports not (padding-top:clamp(4.9375rem ,3.1572802198rem + 8.9010989011vw ,10rem)) {
    .clothing {
      padding-top: calc(4.9375rem + 5.0625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(4.9375rem ,3.5968406593rem + 6.7032967033vw ,8.75rem)) {
    .clothing {
      padding-bottom: clamp(4.9375rem ,3.5968406593rem + 6.7032967033vw ,8.75rem)
    }
  }
  @supports not (padding-bottom:clamp(4.9375rem ,3.5968406593rem + 6.7032967033vw ,8.75rem)) {
    .clothing {
      padding-bottom: calc(4.9375rem + 3.8125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,1.4306318681rem + 0.6593406593vw ,1.9375rem)) {
    .clothing__title:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,1.4306318681rem + .6593406593vw ,1.9375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,1.4306318681rem + 0.6593406593vw ,1.9375rem)) {
    .clothing__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + .375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.3667582418rem + 8.7912087912vw ,8.125rem)) {
    .about {
      padding-top: clamp(3.125rem ,1.3667582418rem + 8.7912087912vw ,8.125rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.3667582418rem + 8.7912087912vw ,8.125rem)) {
    .about {
      padding-top: calc(3.125rem + 5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(4.9375rem ,4.2561813187rem + 3.4065934066vw ,6.875rem)) {
    .about {
      padding-bottom: clamp(4.9375rem ,4.2561813187rem + 3.4065934066vw ,6.875rem)
    }
  }
  @supports not (padding-bottom:clamp(4.9375rem ,4.2561813187rem + 3.4065934066vw ,6.875rem)) {
    .about {
      padding-bottom: calc(4.9375rem + 1.9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(1.8125rem ,1.4828296703rem + 1.6483516484vw ,2.75rem)) {
    .about__body {
      gap: clamp(1.8125rem ,1.4828296703rem + 1.6483516484vw ,2.75rem)
    }
  }
  @supports not (gap:clamp(1.8125rem ,1.4828296703rem + 1.6483516484vw ,2.75rem)) {
    .about__body {
      gap: calc(1.8125rem + .9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(4.625rem ,3.3942307692rem + 6.1538461538vw ,8.125rem)) {
    .our-instagram {
      padding-top: clamp(4.625rem ,3.3942307692rem + 6.1538461538vw ,8.125rem)
    }
  }
  @supports not (padding-top:clamp(4.625rem ,3.3942307692rem + 6.1538461538vw ,8.125rem)) {
    .our-instagram {
      padding-top: calc(4.625rem + 3.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(4.625rem ,3.1744505495rem + 7.2527472527vw ,8.75rem)) {
    .our-instagram {
      padding-bottom: clamp(4.625rem ,3.1744505495rem + 7.2527472527vw ,8.75rem)
    }
  }
  @supports not (padding-bottom:clamp(4.625rem ,3.1744505495rem + 7.2527472527vw ,8.75rem)) {
    .our-instagram {
      padding-bottom: calc(4.625rem + 4.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.8125rem ,1.7245879121rem + 0.4395604396vw ,2.0625rem)) {
    .our-instagram__title {
      margin-bottom: clamp(1.8125rem ,1.7245879121rem + .4395604396vw ,2.0625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.8125rem ,1.7245879121rem + 0.4395604396vw ,2.0625rem)) {
    .our-instagram__title {
      margin-bottom: calc(1.8125rem + .25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.8125rem ,1.5707417582rem + 1.2087912088vw ,2.5rem)) {
    .our-instagram__wrapper {
      margin-bottom: clamp(1.8125rem ,1.5707417582rem + 1.2087912088vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.8125rem ,1.5707417582rem + 1.2087912088vw ,2.5rem)) {
    .our-instagram__wrapper {
      margin-bottom: calc(1.8125rem + .6875 * (100vw - 20rem)/ 56.875)
    }
  }
}
@media (min-width:47.991875em) and (max-width:76.875em) {
  @supports (padding-left:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .header {
      padding-left: clamp(.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .header {
      padding-left: calc(.9375rem + 1.5625 * (100vw - 47.991875rem)/ 28.883125)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .header {
      padding-right: clamp(.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .header {
      padding-right: calc(.9375rem + 1.5625 * (100vw - 47.991875rem)/ 28.883125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,-0.8269859131rem + 4.3277865536vw ,2.5rem)) {
    .promo {
      padding-top: clamp(1.25rem ,-.8269859131rem + 4.3277865536vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,-0.8269859131rem + 4.3277865536vw ,2.5rem)) {
    .promo {
      padding-top: calc(1.25rem + 1.25 * (100vw - 47.991875rem)/ 28.883125)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .promo {
      padding-left: clamp(.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .promo {
      padding-left: calc(.9375rem + 1.5625 * (100vw - 47.991875rem)/ 28.883125)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .promo {
      padding-right: clamp(.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,-1.6587323913rem + 5.409733192vw ,2.5rem)) {
    .promo {
      padding-right: calc(.9375rem + 1.5625 * (100vw - 47.991875rem)/ 28.883125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,-0.8269859131rem + 4.3277865536vw ,2.5rem)) {
    .promo {
      padding-bottom: clamp(1.25rem ,-.8269859131rem + 4.3277865536vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,-0.8269859131rem + 4.3277865536vw ,2.5rem)) {
    .promo {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 47.991875rem)/ 28.883125)
    }
  }
  @supports (padding-bottom:clamp(0.0000000625rem ,-9.3464364424rem + 19.4750392747vw ,5.625rem)) {
    .promo__body {
      padding-bottom: clamp(.0000000625rem ,-9.3464364424rem + 19.4750392747vw ,5.625rem)
    }
  }
  @supports not (padding-bottom:clamp(0.0000000625rem ,-9.3464364424rem + 19.4750392747vw ,5.625rem)) {
    .promo__body {
      padding-bottom: calc(.0000000625rem + 5.6249999375 * (100vw - 47.991875rem)/ 28.883125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:76.875em) {
  @supports (margin-right:clamp(0.9375rem ,-17.7625021644rem + 38.959352409vw ,12.1875rem)) {
    .footer__logo {
      margin-right: clamp(.9375rem ,-17.7625021644rem + 38.959352409vw ,12.1875rem)
    }
  }
  @supports not (margin-right:clamp(0.9375rem ,-17.7625021644rem + 38.959352409vw ,12.1875rem)) {
    .footer__logo {
      margin-right: calc(.9375rem + 11.25 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
}
@media (min-width:29.99875em) and (max-width:76.875em) {
  @supports (margin-bottom:clamp(0.0000000625rem ,-2.3598386351rem + 7.8664567612vw ,3.6875rem)) {
    .clothing__wrapper:not(:last-child) {
      margin-bottom: clamp(.0000000625rem ,-2.3598386351rem + 7.8664567612vw ,3.6875rem)
    }
  }
  @supports not (margin-bottom:clamp(0.0000000625rem ,-2.3598386351rem + 7.8664567612vw ,3.6875rem)) {
    .clothing__wrapper:not(:last-child) {
      margin-bottom: calc(.0000000625rem + 3.6874999375 * (100vw - 29.99875rem)/ 46.87625)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    opacity: .7
  }
  .btn:hover {
    opacity: .7
  }
  .btn-empty:hover {
    opacity: .7
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    border-color: #fccf2b
  }
  .swiper-button-next:hover path,
  .swiper-button-prev:hover path {
    fill: #fccf2b
  }
  .header__lang-link:hover {
    opacity: 1
  }
  .phone-links__link:hover {
    opacity: .7
  }
  .footer__link:hover {
    opacity: .7
  }
  .footer__instagram:hover {
    opacity: .7
  }
  .promo__item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .promo__link:hover {
    opacity: .7
  }
  .contacts-block:hover {
    box-shadow: 9px 8px 1px 0 #000
  }
  .contacts-block__link:hover {
    opacity: .7
  }
  .card-clothing__img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .card-clothing__title:hover {
    color: #fccf2b;
    text-decoration: underline
  }
}
.webp .location--yellow::before {
  background: url(../img/decore.webp) center/cover no-repeat
}